html,
body {
  background-color: #FFB300;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#cardData{
  width: 18rem;
  margin-left: 12px;
   margin-top:12px

  }




@media screen and (max-width: 980px) {
  #cardData{
    width: 20.5rem;
  }

}


@media screen and (max-width: 768px) {
  #cardData{
    width: 20.5rem;
  }
}

@media screen and (max-width: 756px) {

  #cardData{
    width: 100%;
    margin-left: 0px;
  }
  
}

/* @media screen and (max-width: 360px) {
  #cardData{
    width: 20.5rem;
  }
  #cant{
      margin-top: 21px;
      position: relative;

  }
  .cards{
      width: 22rem;
      margin-top: 10px;
  }
  .rows{
      margin-top: 668px;

  }
  #num{
     
  }
  #name{
      width: 100%;
  }
  #named{
      width: 100%;
  }

  #w3lName{
      width: 100%;
  }
  #w3lMessage{
      width: 100%;
  }

  .descome{
      margin-top: 17px;
  }

  .middle-data{
      margin-top: 481px;
      height: 792px;
  }



  #button-shri{
      width: 114px;
  }

  .sere{
      margin-top: 18px;
  }

  .sor{
      height: 410px;
  }

  .footer{
      margin-top: 42px;
      height: 1146px;
  }
  .footer-last-menu{
      margin-top: 784px;
  }
  .social-footer{
      margin-right: 104px;
  }

  #shriniwash{
      width: 20rem;
  }
  #footer_response{
      margin-top: 299px;
  }
  #footer_response_about{
      margin-top: 2px;
  }
} */


.left_color{
  color: white;
}


#productlist{
  justify-content: center;
  align-items: center;
  text-align: center;
  display: vertical;
  width: 100%;
}

#productname{
  font-size: 29px;
    font-style: italic;
}

#productDetails{
  font-size: 22px;
    font-weight: 600;
}

.productInput{
  padding: 17px;
    border: 6px solid;
    border-radius: 25px;
    font-size: 19px;
    justify-content: center;
    text-align: center;
    font-weight: 300;
}

.khalti{
  color: black;
  background: yellow;
  padding: 9px;
  font-size: 18px;
  font-style: italic;
  border: 2px solid;
  border-radius: 14px;
}

.khalti:hover{
  background-color: #009578;
  color: black;
  cursor: pointer;
}

.productListing{
  background: #4fbe44;
}

.tab{
  padding: 0 auto;
  justify-content: center;
  border: 1px solid black;
  width: 50%;
}

.tab td{
  border: 1px solid black;
}

#table_content{
  display: flex;
    justify-content: center;
    padding-top: 2px;
}

.mainserve{
  text-align: center;
}

/* login css */

.err-msg {
	padding: 10px 15px;
	background-color: #fff;
	border-radius: 8px;
	margin-bottom: 15px;
	color: red;
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

form .form-group {
	margin-bottom: 30px;
    width: 100%;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    text-align: cener;
}


form input {
	appearance: none;
	background: none;
	outline: none;
	border: none;
}

#product-name {
	display: block;
	width: 100%;
	padding: 15px;
	border-radius: 8px;
	background-color: rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	transition: 0.4s;
	color: #222;
	font-size: 18px;
	font-weight: 300;
}

#product-name::placeholder{
  color: #CCC;
}

#product-name:focus {
  background-color: #fff;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}



/* 
form input:not([type="submit"]) {

} */

/* form input:not([type="submit"])::placeholder {
	color: #CCC;
}

form input:not([type="submit"]):focus, form input:not([type="submit"]):valid {
	background-color: #fff;
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
} */

/* form input[type="submit"] {
	display: block;
	width: 100%;
	padding: 15px;
	border-radius: 8px;
	background-color: #2F4960;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	transition: 0.4s;
	color: #FFF;
	font-size: 20px;
	font-weight: 700;
	cursor: pointer;

} */

#admin-panel-button{
  display: block;
	width: 100%;
	padding: 15px;
	border-radius: 8px;
	background-color: #2F4960;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	transition: 0.4s;
	color: #FFF;
	font-size: 20px;
	font-weight: 700;
	cursor: pointer;
}



.h1{
	text-align: center;
}

.anker{
	text-align: center;
    align-items: center;
    font-size: 43px;
    font-style: oblique;
}

.formdata{
    text-align: center;
    margin-top: 140px;
}
#labels{
	font-size: 49px;
    font-style: initial;
}

#email{
	padding: 11px;
    width: 382px;
    border: 2px solid #3cbc24;
    border-radius: 25px;
	margin-left: 566px;
}

#submits{
	display: block;
    width: 13%;
    padding: 15px;
    border-radius: 8px;
    background-color: #2F4960;
    box-shadow: 0px 0px 0px rgb(0 0 0 / 0%);
    transition: 0.4s;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    margin-left: 649px;
    margin-top: 14px;
}

#submits:hover{
	background-color: rgb(86, 141, 224);
	color: #000;
}

.reset{
    width: 505px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#passwords{
    margin-left: 375px;
    margin-top: 14px;

}

.form-karan{
  justify-content: center;
    display: center;
    display: flex;
    width: 100%;
}

.form-style{
  width: 100%;
  justify-content: center;
  justify-content: center;
  align-items: center;
  display: inline-grid;
}

.tab-shri{
  cursor: pointer;
  font-weight: 500;
}
.tab-shri:hover{
  color: rgb(86, 9, 219);
}

.transaction{
  display: flex;
  justify-content: center;

}

#transaction-button{
  font-size: 22px;
}

#transaction-button:hover{
  color: #000;
  background-color: #3cbc24;
}



/* css for login page advance */

.shri_login {
  max-width: 440px;
  padding: 0 20px;
  margin: 170px auto;
}

.wrapper {
  width: 100%;
  background: #fff;
  border-radius: 5px;
}

.wrapper .tittle {
  line-height: 80px;
  background-color: #002147;
  text-align: center;
  border-radius: 5px 5px 0 0;
  font-size: 25px;
  color: #fff;
  font-weight: 600px;
}

.wrapper form {
  padding: 30px 25px 25px 25px;
}

.wrapper form .row {
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}

.wrapper form .row input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 60px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 15px;
  transition: all 0.3s ease;
}

form .row input:focus {
  border-color: #002147;
  box-shadow: inset 0px 0px 2px 2px rgba(188, 164, 26, 0.25);
}

.wrapper form .row i {
  position: absolute;
  width: 47px;
  height: 100%;
  color: #fff;
  font-size: 18px;
  background-color: #002147;
  border: 1px solid #002147;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper form .pass {
  margin: -8px 0 20px 0;

}

.wrapper form .pass a {
  color: #FFB300;
  font-size: 17px;
  text-decoration: none;
}

.wrapper form .pass a:hover {
  text-decoration: underline;
}

.wrapper form .button input {
  color: rgb(248, 244, 244);
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background-color: #002147;
  border: 1px solid #002147;
  cursor: pointer;
}

form .button input:hover {
  color: black;
  background: #FFB300;
}

.wrapper form .signup-link {
  text-align: center;
  margin-top: 20px;
  font-size: 17px;

}

.wrapper form .signup-link a {
  color: #FFB300;

  text-decoration: none;
}

form .signup-link a:hover {
  text-decoration: underline;
}


/* the main page css */
#my-first{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.first-row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.second-row{
  flex-basis: 50%;
  min-width: 300px;
}
#body-image{
  max-width: 100%;
  padding: 50px 0;
}

.first-row-first h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;

}

.btn-firstpage{
  display: inline-block;
  background: #ff523b;
  columns: #fff;
  padding: 8px 30px;
  border-radius: 30px;
}

.header{
  background: radial-gradient(#fff,#ffd6d6);
}

/* css for overall projects */


.categories{
  margin: 70px 0;
}

.shri-cate{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.shri-cate img{
  width: 100%;
}

#product-col{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;

}

#product-col img{
  width: 100%;
}
.product-title{
  text-align: center;
  margin: 1 auto;
  position: relative;
  line-height: 60px;
  color: #555;
}

.product-title::after{
  content: '';
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

#product-col:hover{
  transform: translateY(-5px);
}

.offer{
  background: radial-gradient(#fff,#ffd6d6);
  margin-top: 80px;
  padding: 30px 0;
}

.offers{
  background: radial-gradient(#fff,#ffd6d6);
  padding: 30px 0;
}

.offer-img{
  width: 100%;
}

.offer-product{
  align-items: center;
  text-align: left;
  padding: 80px;
}
.offers-product{
  align-items: center;
  text-align: center;
}

@media only screen and (max-width:600px){
  .row{
     text-align: center;
  }
  .shri-cate{
     flex-basis: 100%;
  }
  #product-col{
     flex-basis: 100%;
  }

}

.raing{
  color: #ff523b;
}
#footer-row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-shri{
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}
.footer-shri p{
  color: #8a8a8a;
}
.footer-shri h3{
  color: #fff;
  margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1{
  flex-basis: 30%;
  text-align: center;
}

.footer-col-2{
  flex: 1;
  text-align: center;
}
.footer-col-2 img{
  width: 180px;
  margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
  flex-basis: 12%;
  text-align: center;
}

.footer-ul{
  list-style-type: none;
  font-size: 15px;
}

.app-logo{
  margin-top: 20px;
}

.app-logo img{
  width: 140px;
}

.footer-shri hr{
  border: none;
  background: #b5b5b5;
  height: 2px;
  margin: 20px;
}

.copyright{
  text-align: center;
}


.khalti-button{
  text-align: center;
}